<div class="container">

    <div class="form1">

        <div class="title1">
            Wprowadź dane, które zostaną wyświetlone w tabeli
        </div>

        <form [formGroup]="modelForm" (ngSubmit)="onSubmit(modelForm)">

            <label for="iname"></label>
            <input id="iname" name="name" class="inputfield" placeholder="IMIĘ" formControlName="name"
                [(ngModel)]="newname">
            <span class="valid" *ngIf="formErrors.name">{{ formErrors.name }}</span><br />

            <label for="ilastname"></label>
            <input id="ilastname" name="lastname" class="inputfield" placeholder="NAZWISKO" formControlName="lastname"
                [(ngModel)]="newlastname">
            <span *ngIf="formErrors.lastname">{{ formErrors.lastname }}</span><br />

            <label for="iaddress"></label>
            <input id="iaddress" name="address" class="inputfield" placeholder="ADRES" formControlName="address"
                [(ngModel)]="newaddress">
            <span *ngIf="formErrors.address">{{ formErrors.address }}</span><br />

            <label for="isex"></label>
            <input id="isex" name="sex" class="inputfield" placeholder="PŁEĆ" formControlName="sex"
                [(ngModel)]="newsex">
            <span *ngIf="formErrors.sex">{{ formErrors.sex }}</span><br />

            <label for="iage"></label>
            <input id="iage" name="age" class="inputfield" placeholder="WIEK" formControlName="age"
                [(ngModel)]="newage">
            <span *ngIf="formErrors.age">{{ formErrors.age }}</span><br />

            <button class="submitbtn" type="submit" (click)="addTodo()" [disabled]="modelForm.invalid">Wyślij dane</button>

        </form>
    </div>

</div>